<h1  class="welcomeMsg" >Welcome to CSE Motors!</h1>
<section class="block1">
    <div id="rightB">
       <h2>Dmc Delorean</h2> 3 cup holders <br> Superman doors <br>Fuzzy dice <br>
       <button>Own Today</button>
    </div>
    <div id="left">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/vehicles/delorean-tn.jpg ">
            <img src="/images/vehicles/delorean.jpg" alt="delorean car">
        </picture>
    </div>
    </section>

    <section class="block2">
        <div id="left1">
            <h2> DMC Delorean Review</h2><br>
            <ul>
                <li>"so fast it's almost like travelling in time."(4/5)</li>
                <li>"Coolest ride on the road".(4/5)</li>
                <li>"I'm feeling Mcfly!"(5/5)</li>
                <li>"The most futuristic ride of our time".(4.5/5)</li>
                <li>"80's livin and i love it"(5/5)</li>
            </ul>
        </div>
        <div id="right2">
            <h2>Delorean Upgrade</h2>
            <section class="inner_grid">
                <div class="grid">
                    <img src="/images/upgrades/flux-cap.png" alt="flux capacitor"> 
                </div>
                <div class="grid">
               <img src="/images/upgrades/flame.jpg" alt="flame pix">
                </div>
                <div class="grid">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                </div>
                <div class="grid">
                <img src="/images/upgrades/hub-cap.jpg" alt="hub caps">
                </div>
            </section>   

        </div>

    </section>

</section>